{% extends 'person_selector/base.html' %}

{% load static %}

{% block content %}

    <table class="table table-primary table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Active ?</th>
                <th>Date Selected</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for person_record in object_list %}
                <tr>
                    <td> {{ person_record.personid }}</td>
                    <td> {{ person_record.firstname }}</td>
                    <td> {{ person_record.lastname }}</td>
                    <td> {{ person_record.activeflag }}</td>
                    <td> {{ person_record.dateselected }}</td>
                    <td> <small> <a href="{% url 'person_selector:update_person_selector_record' person_record.pk %}"> (edit) </a></small></td>
                    <td> <small> <a href="{% url 'person_selector:delete_person_selector_record' person_record.pk %}"> (delete) </a></small></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}